.initials-avatar {

	cursor: pointer;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	
	border-width: 2px;
	border-color: white;
	
	/* background-color: #6366F1; */
	display: inline-block;
	box-sizing: border-box;

}

.initials-avatar.profile {
	width: 82px;
	height: 82px;
	vertical-align: middle;
	font-size: 2.4rem;
}

.initials-avatar.xl {
	width: 64px;
	height: 64px;
}

.initials-avatar.lg {
	width: 40px;
	height: 40px;
}

.initials-avatar.md {
	width: 32px;
	height: 32px;
}

.initials-avatar.sm {
	width: 28px;
	height: 28px;
	vertical-align: middle;
	font-size: x-small;
}


.initials-avatar div{
	color:#fff;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	font-style:inherit;
	font-weight:inherit
}